footer{
    background-color: $color-gray-dark-2;
  div.lien-footer{
    height: 4rem;
    line-height: 4rem;
    color: #fff;
    text-decoration: none;
    text-align: center;
    p{
      margin: 0;
      padding: 0;
    }
  }
}