/* Bouton du menu mobile*/
a.btn-menu{
  position: fixed;
  top: 0;
  right: 0;
  margin: 1rem;
  padding: 0.5rem;
  background-color: rgba($color-gray-dark-2, 0.4 );
  opacity: 0.8;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 0.4rem;
  cursor: pointer;
  z-index: 999;
  @media screen and (min-width: $break-desktop) {
    display: none;
  }
}
/* Menu en mobile*/
nav{
  position: fixed;
  height: 100vh;
  width: 100%;
  transform: translateX(-100%);
  transition-duration: 0.3s;
  z-index: 1000;
  ul{
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: #000;
    border-bottom: 1px solid rgba(#fff, 0.6);
    li{
      display: block;
      margin: 2rem 0;
      a{
        text-align: center;
        display: block;
        color: #fff;
        text-decoration: none;
        padding: 0 1.5rem;
        font-size: 1.4rem;
        &::after{
          content: '';
          display: block;
          margin: auto;
          height: 1px;
          width: 0;
          background: transparent;
          transition: width .5s ease, background-color .5s ease;
        }
        &:hover::after {
          width: 100%;
          background: #fff;
        }
      }
    }
  }
  /* Menu en desktop */
  @media screen and (min-width: $break-desktop) {
    position: sticky;
    top: 0;
    z-index: 999;
    transform: translateX(0);
    height: 4rem;
    ul{
      width: 100%;
      height: 4rem;
      text-align: center;
      li{
        display: inline-block;
        padding: 0;
        margin: 0rem;
        height: 4rem;
        a{
          font-size: 1.1rem;
          line-height: 2rem;
          padding: 1rem 0.5rem;
        }
      }
    }
  }
}

/* header */
.parallax-mirror{
  filter: grayscale(30%) blur(1px);
}

.particles-js-canvas-el{
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}

header#top{
  text-align: center;
  position: relative;

  #header-background{
    position: absolute;
    height: 100vh;
    width: 100%;
  }

  #title{
    padding: 8rem 0;
    h1{
      margin: 0;
      color: #fff;
      font-size: 3rem;
      span{
        background-color: $color-primary;
        padding: 0.5rem;
        font-size: 2rem;
      }
    }
  }

  #about{
    width: 100%;
    bottom: 0;
    padding: 1rem;
    text-align: center;
    background-color: #000;
    background-image: url("https://www.transparenttextures.com/patterns/brilliant.png");
    opacity: 0.6;
    color: $color-gray-light-2;
  }
}
