/* Variables de résolution */
$break-tablet: 540px;
$break-desktop: 720px;
$wrapper: 1170px;

/* Color */
$color-primary: #2196F3;
$color-gray-light-2: #efefef;
$color-gray-light-1: #aaa;
$color-gray: #777;
$color-gray-dark-1: #333;
$color-gray-dark-2: #222;