@charset "UTF-8";
/* Variables */
/* Variables de résolution */
/* Color */
/* Google Font exo */
@import url("https://fonts.googleapis.com/css?family=Exo:400,400i,700,700i,900,900i");
/* Partial */
/* Général */
* {
  box-sizing: border-box;
  font-family: 'Exo', sans-serif; }

body, html {
  margin: 0;
  padding: 0; }

h2 {
  text-align: center;
  margin: 0;
  padding: 2rem 0 1rem; }

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 1rem; }

/* ---------------------------------- */
/* ==Grillade : Simple Grid System    */
/* ---------------------------------- */
/* Doc : http://grillade.knacss.com */
@media (min-width: 540px) {
  [class*=" grid-"],
  [class^="grid-"] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    [class*=" grid-"] > *,
    [class^="grid-"] > * {
      box-sizing: border-box;
      min-width: 0;
      min-height: 0; } }
@media (min-width: 540px) {
  .grid,
  .grid--reverse {
    display: flex; }
    .grid > *,
    .grid--reverse > * {
      flex: 1 1 0%;
      box-sizing: border-box;
      min-width: 0;
      min-height: 0; }
    .grid.has-gutter > * + *,
    .grid--reverse.has-gutter > * + * {
      margin-left: calc(1rem - 0.01px); }
    .grid.has-gutter-l > * + *,
    .grid--reverse.has-gutter-l > * + * {
      margin-left: calc(2rem - 0.01px); }
    .grid.has-gutter-xl > * + *,
    .grid--reverse.has-gutter-xl > * + * {
      margin-left: calc(4rem - 0.01px); }
    .grid.has-gutter-timeline > * + *,
    .grid--reverse.has-gutter-timeline > * + * {
      margin-left: calc(8rem - 0.01px); } }
@media (min-width: 540px) {
  [class*="grid-2"] > * {
    width: calc(100% / 2 - 0.01px); }
  [class*="grid-2"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-2"].has-gutter > * {
      width: calc(100% / 2 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-2"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-2"].has-gutter-l > * {
      width: calc(100% / 2 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-2"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-2"].has-gutter-xl > * {
      width: calc(100% / 2 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }
  [class*="grid-2"].has-gutter-timeline {
    margin-right: -4rem;
    margin-left: -4rem; }
    [class*="grid-2"].has-gutter-timeline > * {
      width: calc(100% / 2 - 8rem - 0.01px);
      margin-right: 4rem;
      margin-left: 4rem; }

  [class*="grid-3"] > * {
    width: calc(100% / 3 - 0.01px); }
  [class*="grid-3"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-3"].has-gutter > * {
      width: calc(100% / 3 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-3"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-3"].has-gutter-l > * {
      width: calc(100% / 3 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-3"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-3"].has-gutter-xl > * {
      width: calc(100% / 3 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }
  [class*="grid-3"].has-gutter-timeline {
    margin-right: -4rem;
    margin-left: -4rem; }
    [class*="grid-3"].has-gutter-timeline > * {
      width: calc(100% / 3 - 8rem - 0.01px);
      margin-right: 4rem;
      margin-left: 4rem; }

  [class*="grid-4"] > * {
    width: calc(100% / 4 - 0.01px); }
  [class*="grid-4"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-4"].has-gutter > * {
      width: calc(100% / 4 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-4"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-4"].has-gutter-l > * {
      width: calc(100% / 4 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-4"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-4"].has-gutter-xl > * {
      width: calc(100% / 4 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }
  [class*="grid-4"].has-gutter-timeline {
    margin-right: -4rem;
    margin-left: -4rem; }
    [class*="grid-4"].has-gutter-timeline > * {
      width: calc(100% / 4 - 8rem - 0.01px);
      margin-right: 4rem;
      margin-left: 4rem; }

  [class*="grid-5"] > * {
    width: calc(100% / 5 - 0.01px); }
  [class*="grid-5"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-5"].has-gutter > * {
      width: calc(100% / 5 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-5"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-5"].has-gutter-l > * {
      width: calc(100% / 5 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-5"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-5"].has-gutter-xl > * {
      width: calc(100% / 5 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }
  [class*="grid-5"].has-gutter-timeline {
    margin-right: -4rem;
    margin-left: -4rem; }
    [class*="grid-5"].has-gutter-timeline > * {
      width: calc(100% / 5 - 8rem - 0.01px);
      margin-right: 4rem;
      margin-left: 4rem; }

  [class*="grid-6"] > * {
    width: calc(100% / 6 - 0.01px); }
  [class*="grid-6"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-6"].has-gutter > * {
      width: calc(100% / 6 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-6"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-6"].has-gutter-l > * {
      width: calc(100% / 6 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-6"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-6"].has-gutter-xl > * {
      width: calc(100% / 6 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }
  [class*="grid-6"].has-gutter-timeline {
    margin-right: -4rem;
    margin-left: -4rem; }
    [class*="grid-6"].has-gutter-timeline > * {
      width: calc(100% / 6 - 8rem - 0.01px);
      margin-right: 4rem;
      margin-left: 4rem; }

  [class*="grid-7"] > * {
    width: calc(100% / 7 - 0.01px); }
  [class*="grid-7"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-7"].has-gutter > * {
      width: calc(100% / 7 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-7"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-7"].has-gutter-l > * {
      width: calc(100% / 7 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-7"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-7"].has-gutter-xl > * {
      width: calc(100% / 7 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }
  [class*="grid-7"].has-gutter-timeline {
    margin-right: -4rem;
    margin-left: -4rem; }
    [class*="grid-7"].has-gutter-timeline > * {
      width: calc(100% / 7 - 8rem - 0.01px);
      margin-right: 4rem;
      margin-left: 4rem; }

  [class*="grid-8"] > * {
    width: calc(100% / 8 - 0.01px); }
  [class*="grid-8"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-8"].has-gutter > * {
      width: calc(100% / 8 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-8"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-8"].has-gutter-l > * {
      width: calc(100% / 8 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-8"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-8"].has-gutter-xl > * {
      width: calc(100% / 8 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }
  [class*="grid-8"].has-gutter-timeline {
    margin-right: -4rem;
    margin-left: -4rem; }
    [class*="grid-8"].has-gutter-timeline > * {
      width: calc(100% / 8 - 8rem - 0.01px);
      margin-right: 4rem;
      margin-left: 4rem; }

  [class*="grid-9"] > * {
    width: calc(100% / 9 - 0.01px); }
  [class*="grid-9"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-9"].has-gutter > * {
      width: calc(100% / 9 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-9"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-9"].has-gutter-l > * {
      width: calc(100% / 9 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-9"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-9"].has-gutter-xl > * {
      width: calc(100% / 9 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }
  [class*="grid-9"].has-gutter-timeline {
    margin-right: -4rem;
    margin-left: -4rem; }
    [class*="grid-9"].has-gutter-timeline > * {
      width: calc(100% / 9 - 8rem - 0.01px);
      margin-right: 4rem;
      margin-left: 4rem; }

  [class*="grid-10"] > * {
    width: calc(100% / 10 - 0.01px); }
  [class*="grid-10"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-10"].has-gutter > * {
      width: calc(100% / 10 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-10"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-10"].has-gutter-l > * {
      width: calc(100% / 10 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-10"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-10"].has-gutter-xl > * {
      width: calc(100% / 10 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }
  [class*="grid-10"].has-gutter-timeline {
    margin-right: -4rem;
    margin-left: -4rem; }
    [class*="grid-10"].has-gutter-timeline > * {
      width: calc(100% / 10 - 8rem - 0.01px);
      margin-right: 4rem;
      margin-left: 4rem; }

  [class*="grid-11"] > * {
    width: calc(100% / 11 - 0.01px); }
  [class*="grid-11"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-11"].has-gutter > * {
      width: calc(100% / 11 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-11"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-11"].has-gutter-l > * {
      width: calc(100% / 11 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-11"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-11"].has-gutter-xl > * {
      width: calc(100% / 11 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }
  [class*="grid-11"].has-gutter-timeline {
    margin-right: -4rem;
    margin-left: -4rem; }
    [class*="grid-11"].has-gutter-timeline > * {
      width: calc(100% / 11 - 8rem - 0.01px);
      margin-right: 4rem;
      margin-left: 4rem; }

  [class*="grid-12"] > * {
    width: calc(100% / 12 - 0.01px); }
  [class*="grid-12"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-12"].has-gutter > * {
      width: calc(100% / 12 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-12"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-12"].has-gutter-l > * {
      width: calc(100% / 12 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-12"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-12"].has-gutter-xl > * {
      width: calc(100% / 12 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }
  [class*="grid-12"].has-gutter-timeline {
    margin-right: -4rem;
    margin-left: -4rem; }
    [class*="grid-12"].has-gutter-timeline > * {
      width: calc(100% / 12 - 8rem - 0.01px);
      margin-right: 4rem;
      margin-left: 4rem; } }
.push {
  margin-left: auto !important; }

.pull {
  margin-right: auto !important; }

.item-first {
  order: -1; }

.item-last {
  order: 1; }

[class*="grid-"][class*="--reverse"] {
  flex-direction: row-reverse; }

@media (min-width: 540px) {
  .full {
    flex: 0 0 auto;
    width: calc(100% / 1 - 0.01px); }

  .has-gutter > .full {
    width: calc(100% / 1 - 1rem - 0.01px); }

  .has-gutter-l > .full {
    width: calc(100% / 1 - 2rem - 0.01px); }

  .has-gutter-xl > .full {
    width: calc(100% / 1 - 4rem - 0.01px); }

  .has-gutter-timeline > .full {
    width: calc(100% / 1 - 8rem - 0.01px); }

  .one-half {
    flex: 0 0 auto;
    width: calc(100% / 2 - 0.01px); }

  .has-gutter > .one-half {
    width: calc(100% / 2 - 1rem - 0.01px); }

  .has-gutter-l > .one-half {
    width: calc(100% / 2 - 2rem - 0.01px); }

  .has-gutter-xl > .one-half {
    width: calc(100% / 2 - 4rem - 0.01px); }

  .has-gutter-timeline > .one-half {
    width: calc(100% / 2 - 8rem - 0.01px); }

  .one-third {
    flex: 0 0 auto;
    width: calc(100% / 3 - 0.01px); }

  .has-gutter > .one-third {
    width: calc(100% / 3 - 1rem - 0.01px); }

  .has-gutter-l > .one-third {
    width: calc(100% / 3 - 2rem - 0.01px); }

  .has-gutter-xl > .one-third {
    width: calc(100% / 3 - 4rem - 0.01px); }

  .has-gutter-timeline > .one-third {
    width: calc(100% / 3 - 8rem - 0.01px); }

  .one-quarter {
    flex: 0 0 auto;
    width: calc(100% / 4 - 0.01px); }

  .has-gutter > .one-quarter {
    width: calc(100% / 4 - 1rem - 0.01px); }

  .has-gutter-l > .one-quarter {
    width: calc(100% / 4 - 2rem - 0.01px); }

  .has-gutter-xl > .one-quarter {
    width: calc(100% / 4 - 4rem - 0.01px); }

  .has-gutter-timeline > .one-quarter {
    width: calc(100% / 4 - 8rem - 0.01px); }

  .one-fifth {
    flex: 0 0 auto;
    width: calc(100% / 5 - 0.01px); }

  .has-gutter > .one-fifth {
    width: calc(100% / 5 - 1rem - 0.01px); }

  .has-gutter-l > .one-fifth {
    width: calc(100% / 5 - 2rem - 0.01px); }

  .has-gutter-xl > .one-fifth {
    width: calc(100% / 5 - 4rem - 0.01px); }

  .has-gutter-timeline > .one-fifth {
    width: calc(100% / 5 - 8rem - 0.01px); }

  .one-sixth {
    flex: 0 0 auto;
    width: calc(100% / 6 - 0.01px); }

  .has-gutter > .one-sixth {
    width: calc(100% / 6 - 1rem - 0.01px); }

  .has-gutter-l > .one-sixth {
    width: calc(100% / 6 - 2rem - 0.01px); }

  .has-gutter-xl > .one-sixth {
    width: calc(100% / 6 - 4rem - 0.01px); }

  .has-gutter-timeline > .one-sixth {
    width: calc(100% / 6 - 8rem - 0.01px); }

  .two-thirds {
    flex: 0 0 auto;
    width: calc(100% / 3 * 2 - 0.01px); }

  .has-gutter > .two-thirds {
    width: calc(100% / 3 * 2 - 1rem - 0.01px); }

  .has-gutter-l > .two-thirds {
    width: calc(100% / 3 * 2 - 2rem - 0.01px); }

  .has-gutter-xl > .two-thirds {
    width: calc(100% / 3 * 2 - 4rem - 0.01px); }

  .has-gutter-timeline > .two-thirds {
    width: calc(100% / 3 * 2 - 8rem - 0.01px); }

  .three-quarters {
    flex: 0 0 auto;
    width: calc(100% / 4 * 3 - 0.01px); }

  .has-gutter > .three-quarters {
    width: calc(100% / 4 * 3 - 1rem - 0.01px); }

  .has-gutter-l > .three-quarters {
    width: calc(100% / 4 * 3 - 2rem - 0.01px); }

  .has-gutter-xl > .three-quarters {
    width: calc(100% / 4 * 3 - 4rem - 0.01px); }

  .has-gutter-timeline > .three-quarters {
    width: calc(100% / 4 * 3 - 8rem - 0.01px); }

  .five-sixths {
    flex: 0 0 auto;
    width: calc(100% / 6 * 5 - 0.01px); }

  .has-gutter > .five-sixths {
    width: calc(100% / 6 * 5 - 1rem - 0.01px); }

  .has-gutter-l > .five-sixths {
    width: calc(100% / 6 * 5 - 2rem - 0.01px); }

  .has-gutter-xl > .five-sixths {
    width: calc(100% / 6 * 5 - 4rem - 0.01px); }

  .has-gutter-timeline > .five-sixths {
    width: calc(100% / 6 * 5 - 8rem - 0.01px); } }
/* Responsive Small Breakpoint */
@media (min-width: 540px) and (max-width: 719px) {
  [class*="-small-1"] > * {
    width: calc(100% / 1 - 0.01px); }
  [class*="-small-1"].has-gutter > * {
    width: calc(100% / 1 - 1rem - 0.01px); }
  [class*="-small-1"].has-gutter-l > * {
    width: calc(100% / 1 - 2rem - 0.01px); }
  [class*="-small-1"].has-gutter-xl > * {
    width: calc(100% / 1 - 4rem - 0.01px); }
  [class*="-small-1"].has-gutter-timeline > * {
    width: calc(100% / 1 - 8rem - 0.01px); }

  [class*="-small-2"] > * {
    width: calc(100% / 2 - 0.01px); }
  [class*="-small-2"].has-gutter > * {
    width: calc(100% / 2 - 1rem - 0.01px); }
  [class*="-small-2"].has-gutter-l > * {
    width: calc(100% / 2 - 2rem - 0.01px); }
  [class*="-small-2"].has-gutter-xl > * {
    width: calc(100% / 2 - 4rem - 0.01px); }
  [class*="-small-2"].has-gutter-timeline > * {
    width: calc(100% / 2 - 8rem - 0.01px); }

  [class*="-small-3"] > * {
    width: calc(100% / 3 - 0.01px); }
  [class*="-small-3"].has-gutter > * {
    width: calc(100% / 3 - 1rem - 0.01px); }
  [class*="-small-3"].has-gutter-l > * {
    width: calc(100% / 3 - 2rem - 0.01px); }
  [class*="-small-3"].has-gutter-xl > * {
    width: calc(100% / 3 - 4rem - 0.01px); }
  [class*="-small-3"].has-gutter-timeline > * {
    width: calc(100% / 3 - 8rem - 0.01px); }

  [class*="-small-4"] > * {
    width: calc(100% / 4 - 0.01px); }
  [class*="-small-4"].has-gutter > * {
    width: calc(100% / 4 - 1rem - 0.01px); }
  [class*="-small-4"].has-gutter-l > * {
    width: calc(100% / 4 - 2rem - 0.01px); }
  [class*="-small-4"].has-gutter-xl > * {
    width: calc(100% / 4 - 4rem - 0.01px); }
  [class*="-small-4"].has-gutter-timeline > * {
    width: calc(100% / 4 - 8rem - 0.01px); } }
/* Bouton du menu mobile*/
a.btn-menu {
  position: fixed;
  top: 0;
  right: 0;
  margin: 1rem;
  padding: 0.5rem;
  background-color: rgba(34, 34, 34, 0.4);
  opacity: 0.8;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 0.4rem;
  cursor: pointer;
  z-index: 999; }
  @media screen and (min-width: 720px) {
    a.btn-menu {
      display: none; } }

/* Menu en mobile*/
nav {
  position: fixed;
  height: 100vh;
  width: 100%;
  transform: translateX(-100%);
  transition-duration: 0.3s;
  z-index: 1000;
  /* Menu en desktop */ }
  nav ul {
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: #222; }
    nav ul li {
      display: block;
      margin: 2rem 0; }
      nav ul li a {
        text-align: center;
        display: block;
        color: #fff;
        text-decoration: none;
        padding: 0 1.5rem;
        font-size: 1.4rem; }
        nav ul li a::after {
          content: '';
          display: block;
          margin: auto;
          height: 1px;
          width: 0;
          background: transparent;
          transition: width .5s ease, background-color .5s ease; }
        nav ul li a:hover::after {
          width: 100%;
          background: #fff; }
  @media screen and (min-width: 720px) {
    nav {
      position: sticky;
      top: 0;
      z-index: 999;
      transform: translateX(0);
      height: 4rem; }
      nav ul {
        width: 100%;
        height: 4rem;
        text-align: center; }
        nav ul li {
          display: inline-block;
          padding: 0;
          margin: 0rem;
          height: 4rem; }
          nav ul li a {
            font-size: 1.1rem;
            line-height: 2rem;
            padding: 1rem 0.5rem; } }

/* header */
header {
  padding: 8rem 0rem 0rem;
  text-align: center;
  /*background-image: url("../img/background_header.jpg");
  background-position: center;
  background-size: cover;*/ }
  header h1 {
    margin: 6rem 0;
    color: #fff;
    font-size: 3rem; }
    header h1 span {
      background-color: #2196F3;
      padding: 0.5rem;
      font-size: 2rem; }
  header #about {
    padding: 1rem;
    text-align: center;
    background-color: #000;
    color: #efefef;
    opacity: 0.7; }

#skills {
  background-color: #edefed;
  padding: 0 2rem 2rem; }
  #skills h2 {
    color: #222;
    margin-bottom: 3rem; }
  #skills .cat-skill {
    position: relative;
    color: #777;
    margin: 2rem auto 6rem;
    padding: 2.5rem 1rem 1rem;
    background-color: #fff;
    height: 14rem;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
    #skills .cat-skill h3 {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -80%);
      color: #333;
      text-align: center;
      border: 1.3rem solid #edefed;
      color: #fff; }
      #skills .cat-skill h3 span {
        display: block;
        padding: 0.5rem 1.3rem;
        background-color: #2196F3; }
    #skills .cat-skill ul {
      padding: 0;
      text-align: center;
      font-size: 1.2rem;
      line-height: 1.8rem;
      list-style: none; }

#parcours {
  background-color: #333333;
  overflow: hidden;
  padding-bottom: 2rem;
  /* Timeline destop et + */ }
  #parcours h2 {
    color: #fff;
    margin-bottom: 2rem; }
  #parcours #timeline {
    position: relative; }
    #parcours #timeline::before {
      content: '';
      position: absolute;
      width: 6px;
      background-color: #2196F3;
      top: 0;
      bottom: 0;
      left: 50%;
      margin-left: -3px; }
  #parcours .item {
    background-color: #fff;
    position: relative;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    height: 100%; }
    #parcours .item .date {
      margin: 0;
      color: #2196F3;
      font-weight: bold;
      font-style: italic; }
    #parcours .item h3 {
      color: #08528d;
      margin: 0.5rem 0 0.1rem; }
    #parcours .item .place {
      margin: 0;
      font-weight: bold;
      font-size: 0.8rem;
      font-style: italic;
      color: #333; }
    #parcours .item .decription {
      font-size: 0.8rem; }
      #parcours .item .decription span {
        font-weight: bold; }
  @media screen and (min-width: 720px) {
    #parcours .item {
      transition-duration: 0.6s; }
    #parcours .item-hide:nth-child(odd) {
      transform: translateX(-200vh); }
    #parcours .item-hide:nth-child(even) {
      transform: translateX(200vh); }
    #parcours .item:nth-child(odd) {
      text-align: right;
      margin-top: 0;
      margin-bottom: 8rem; }
      #parcours .item:nth-child(odd)::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-top: 0px solid transparent;
        border-bottom: 30px solid transparent;
        border-left: 30px solid #fff;
        top: 0;
        right: 0;
        transform: translateX(100%); }
      #parcours .item:nth-child(odd) span.bullet {
        display: none;
        transition-delay: 0.6s;
        transition-duration: 0.3s;
        content: '';
        position: absolute;
        background-color: #333;
        border-radius: 50%;
        border: 6px solid #2196F3;
        width: 2rem;
        height: 2rem;
        top: 0;
        right: -4rem;
        transform: translate(50%, -50%); }
    #parcours .item:nth-child(even) {
      margin-top: 8rem;
      margin-bottom: 0; }
      #parcours .item:nth-child(even)::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-top: 0px solid transparent;
        border-bottom: 30px solid transparent;
        border-right: 30px solid #fff;
        top: 0;
        left: 0;
        transform: translateX(-100%); }
      #parcours .item:nth-child(even) span.bullet {
        display: none;
        transition-delay: 0.6s;
        transition-duration: 0.3s;
        content: '';
        position: absolute;
        background-color: #333;
        border-radius: 50%;
        border: 6px solid #2196F3;
        width: 2rem;
        height: 2rem;
        top: 0;
        left: -4rem;
        transform: translate(-50%, -50%); } }

#portfolio {
  background-color: #efefef; }
  #portfolio h2 {
    color: #222; }
  #portfolio .project {
    height: 15rem;
    background-position: center;
    background-size: cover; }
  #portfolio .illustration {
    height: 80%; }

#contact {
  padding-bottom: 2rem;
  background-color: #333; }
  #contact h2 {
    color: #fff; }
  #contact form {
    max-width: 540px; }
  #contact .g-recaptcha {
    margin-bottom: 1rem; }
  #contact form {
    padding: 30px;
    background: #FFFFFF;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22); }
  #contact form h2 {
    background: #4D4D4D;
    text-transform: uppercase;
    color: #797979;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px; }
  #contact form input[type="text"],
  #contact form input[type="email"],
  #contact form input[type="number"],
  #contact form input[type="search"],
  #contact form input[type="password"],
  #contact form textarea {
    box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px; }
  #contact form textarea {
    resize: none;
    overflow: hidden; }
  #contact form input[type="button"],
  #contact form input[type="submit"] {
    box-shadow: inset 0px -1px 0px 0px #0a6ebd;
    background-color: #2196F3;
    border: 1px solid #2196F3;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase; }
  #contact form input[type="button"]:hover,
  #contact form input[type="submit"]:hover {
    background-color: #0d8aee; }

footer {
  background-color: #222; }
  footer div.lien-footer {
    height: 4rem;
    line-height: 4rem;
    color: #fff;
    text-decoration: none;
    text-align: center; }
    footer div.lien-footer p {
      margin: 0;
      padding: 0; }

/*# sourceMappingURL=styles.css.map */
